<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hong.mapper.TRoleRightRelationMapper">
  <resultMap id="BaseResultMap" type="com.hong.entity.auth.TRoleRightRelation">
    <id column="trr_id" jdbcType="INTEGER" property="trrId" />
    <result column="Role_id" jdbcType="INTEGER" property="roleId" />
    <result column="right_id" jdbcType="INTEGER" property="rightId" />
    <result column="right_type" jdbcType="VARCHAR" property="rightType" />
  </resultMap>
  <sql id="Base_Column_List">
    trr_id, Role_id, right_id, right_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_role_right_relation
    where trr_id = #{trrId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_role_right_relation
    where trr_id = #{trrId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hong.entity.auth.TRoleRightRelation">
    insert into t_role_right_relation (trr_id, Role_id, right_id, 
      right_type)
    values (#{trrId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{rightId,jdbcType=INTEGER}, 
      #{rightType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hong.entity.auth.TRoleRightRelation">
    insert into t_role_right_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="trrId != null">
        trr_id,
      </if>
      <if test="roleId != null">
        Role_id,
      </if>
      <if test="rightId != null">
        right_id,
      </if>
      <if test="rightType != null">
        right_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="trrId != null">
        #{trrId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="rightId != null">
        #{rightId,jdbcType=INTEGER},
      </if>
      <if test="rightType != null">
        #{rightType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hong.entity.auth.TRoleRightRelation">
    update t_role_right_relation
    <set>
      <if test="roleId != null">
        Role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="rightId != null">
        right_id = #{rightId,jdbcType=INTEGER},
      </if>
      <if test="rightType != null">
        right_type = #{rightType,jdbcType=VARCHAR},
      </if>
    </set>
    where trr_id = #{trrId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hong.entity.auth.TRoleRightRelation">
    update t_role_right_relation
    set Role_id = #{roleId,jdbcType=INTEGER},
      right_id = #{rightId,jdbcType=INTEGER},
      right_type = #{rightType,jdbcType=VARCHAR}
    where trr_id = #{trrId,jdbcType=INTEGER}
  </update>
</mapper>